<%= form_with(model: userole) do |form| %>
  <% if userole.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(userole.errors.count, "error") %> prohibited this userole from being saved:</h2>

      <ul>
        <% userole.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.text_field :user %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
