<p style="color: green"><%= notice %></p>

<%= render @userole %>

<div>
  <%= link_to "Edit this userole", edit_userole_path(@userole) %> |
  <%= link_to "Back to useroles", useroles_path %>

  <%= button_to "Destroy this userole", @userole, method: :delete %>
</div>
